<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring_memberBoard.dao.MemberDao">
  
	<select id="selectMemberInfo_mapper" 
		parameterType="String"
		resultType="com.spring_memberBoard.dto.Member">
		SELECT * FROM MEMBERS WHERE MID = #{inputId}
	</select>
  
</mapper>